<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backoven.catdogshelter.domain.post.query.mapper.PostMapper">
    <resultMap id="postResultMap" type="com.backoven.catdogshelter.domain.post.query.dto.PostDTO">
        <id property="id" column="ID"/>
        <result property="title" column="TITLE"/>
        <result property="content" column="CONTENT"/>
        <result property="created_at" column="CREATED_AT"/>
        <result property="view" column="VIEW"/>
        <result property="user_id" column="USER_ID"/>
        <result property="head_id" column="HEAD_ID"/>
    </resultMap>
    <!--
    1. 게시글을 하나 이상 입력할 경우( ex) 2,3) 해당 키 값에 맞는 자유게시글을 조회할 수 있도록 함
    2. 원래는 parameterType으로 hashmap을 쓸 생각이었지만(수업 자료 참고), 복잡한 조건이 없는 경우 list 형태가 더 적합함.
       (hashmap의 경우 여러 복합조건을 감싸서 구분하지만 조건이 없는 경우에는 굳이 필요하다고 생각이 안듬)
     -->
    <select id="selectPostsByIds" parameterType="list" resultMap="postResultMap">
        SELECT id, title, content, created_at, view, user_id, head_id
        FROM post
        WHERE id IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>

